{% extends "base.html" %}
{% block title %}About us{% endblock %}

{% block content %}

<div class="container" align="center">
    <br />
        <h2>Creator : Ujjwal Sharma</h2>
    <br />
</div>


<div class="container" align="center">
    <p style="font-size:110%;">
    <img src="https://lh3.googleusercontent.com/bdCLJi57m3el9e2_dBSAWPykKtY9-GYO7GU8v-f-S5nek-CfyVB_LLjWXnL0_2xuxgxSxPeUL6PmYEFAhRw8w7sPmmmKHMMpltQQ2T7qzrOG4q8uCPgoKODaFy0WIby9ZMZGwSARvlJjbza8tQOJLUe5ul_QBkptHoH5tR6mV9-Pyo9Y7w9debSwECLUizZvdJtcqnhco9OL-suac51fcOgjGlGnHsVdmE0o1QzpQ8_GcE_yze6LwtOmEUIJGR5-xEfnIph_ufiHAGo3ZccWFLWLXiCS_w8Bb6RGkmgEP6KbCAikhMl69r1P29cK3Mbin2lo0VpEw1XSmi-xLPHEJnqg0Yl7ymUg8w7HlnbS4qRKkf9X7U72wM_tTkVXNI6xALypkIKofWqx1SzlC1_5iF1-7FpKiKWkKrkMmYVH28OWqL0VjM-qI4AQY_aspapLOkK9KaPeFvE3xyUHc3NAmg8luh-Wh1p_sDXPLdtBu3vOINg2TvsrzXBEc4w4PuAk67aeXnF84UWP2TXbEJeQhFwvA7JCyREGmqW7k2FgE_tkboH_7Neq44KkxIRNAiBQFULDE8CgJSxF4vN1Kq9saceaZ3NjPrPDpWsspDQSbIekL6Bah025qsK5Dv6qkQhgU7PwOMZKiSxbKVkqtsp1Ta3jxICXVK32LXfH862CLED8HJ8RCnbpsfkDlDoEnG6EvGWZqV9ggRXSDFfc49oqfFlr=w1272-h1696-no?authuser=0" alt="my image" width="30%">
    <br />
        <h4>Contact</h4>
        <h5>Linkedin : https://www.linkedin.com/in/ujjwal-sharma-9aaba0113/</h5>
        <h5>Gmail : ujjwalsharma2210@gmail.com</h5>

    <br />

    </p>
</div>

{% endblock %}
