{% extends "base.html" %}
{% block title %}New Home{% endblock %}

{% block content %}
    <br />
    <h2>About this project</h2>
    <br>
    <p style="font-size:110%;">
        Find Important information of different plants, such as scientific name, properties, crop type, etc. All in one place.
        <br>
        <div class="container" align="center">
            <br>
            <img src="https://s3.amazonaws.com/rm3.photos.prod.readmedia.com/students/5777814/cover-original/house_plant_cover_photo.jpg?1602185651" alt="plants image" width="50%">
            <br>
        </div>
    </p>

{% endblock %}
